{% extends 'base.html' %}

{% block header %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elk Maps - Community View</title>
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <!-- Custom Styles --> 
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>

</head>
{% endblock %}

{% block content %}
<body>
    <div id="header">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Map Logo">
        <h1>Elk Lake Properties and Trails</h1>
    </div>

    <div id="map"></div>

    <!-- Custom Modal -->
    <div id="modal">
        <div id="modal-content">
            <h3>Add Property Details</h3>
            <form id="modal-form">
                <label for="property-owner">Owner:</label>
                <input type="text" id="property-owner" name="property-owner" required>

                <label for="property-address">Address:</label>
                <textarea id="property-address" name="property-address"></textarea>

                <div id="modal-buttons">
                    <button id="confirm-btn" class="pill-button confirm">Confirm</button>
                    <button id="cancel-btn" class="pill-button cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Edit Property Modal -->
    <div id="editModal" class="modal">
        <div class="modal-content">
            <h2>Edit Property</h2>
            <form id="edit-property-form">
                <input type="hidden" id="edit-property-id" name="property-id">
                <div>
                    <label for="edit-property-owner">Owner:</label>
                    <input type="text" id="edit-property-owner" name="property-owner" required>
                </div>
                <div>
                    <label for="edit-property-address">Address:</label>
                    <textarea id="edit-property-address" name="property-address" required></textarea>
                </div>
                <button id="confirm-save" class="pill-button confirm">Save Changes</button>
                <button id="cancel-save" class="pill-button cancel">Cancel Edit</button>
            </form>
        </div>
    </div>

    <!-- Leaflet JS -->
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
        
</body>
{% endblock %}