/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    background-image: url('../images/camouflage.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #ffffff;
    margin-bottom: 30px;
    font-size: 2.5rem;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.welcome-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 25px;
    border: none;
    transition: background-color 0.3s ease;
}

.welcome-button:hover {
    background-color: #45a049;
}

.welcome-button:active {
    background-color: #3e8e41;
}
